<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TITLE</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <meta name="format-detection" content="telephone=no, date=no, address=no, email=no, url=no">

    <!--Эти meta теги отвечают за изменение цвета вкладки сайта на мобильных браузерах в android и ios системах. -->
    <!--В атрибутах content необходимо указать нужный вам цвет.-->
    <!--<meta name="theme-color" content="#ваш цвет">-->
    <!--<meta name="msapplication-navbutton-color" content="#ваш цвет">-->
    <!--&lt;!&ndash;<meta name="apple-mobile-web-app-status-bar-style" content="#ваш цвет">&ndash;&gt;-->


    <!--Четыре способа полключения fontawesome.-->
    <!--<link rel="stylesheet" href="/fonts/fontawesome/font-awesome.min.css">-->
    <!--<link rel="stylesheet" href="/fonts/fontawesome/font-awesome.css">-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/c1a31d1227.css">-->
    <!--<script src="https://use.fontawesome.com/e1d1a4d7d9.js"></script>-->


    <link rel="preload" href="/fonts/montserrat/Montserrat-Regular.woff" as="font" type="font/woff" crossorigin="anonymous">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
<div class="degubGrid">
    <div>
        <div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>