<header class = "header">
    <div class="wrapper">
        <div class="header__top">
            <div class="header__left">
                <i class="fa fa-mobile"></i><a href="#" class="header__logo">TravelCream</a>
                <div class="header__nav-toggle"></div>
                <nav class="header__nav">
                    <ul class="header__nav-menu">
                        <li><a href="#" class="header__nav-link">Flights</a></li>
                        <li><a href="#" class="header__nav-link">Hotels</a></li>
                        <li><a href="#" class="header__nav-link">Trips</a></li>
                        <li><a href="#" class="header__nav-link">Activity</a></li>
                        <li><a href="#" class="header__nav-link">Deals</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header__right">
                    <a href="#" class="header__button">Login</a>
            </div>
        </div>
        <div class="header__middle">
            <h1 class="header__title h1">Do you want to visit Paris ?
                </h1>
            <p class="header__subtitle">Why not</p>
        </div>
    </div>
</header>